/*This is Takacsy's CSS Styling file*/

/*This create a nice black border around all table*/
table, th, td {
    border: 2px solid black;
	border-collapse: collapse;
	padding: 0.1px;
}

/*This gives the nav bar a little bit more colour and style*/
nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
	display: block;
    width: 1300px;
    background-color: #dddddd;
}





.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 100;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

