/*This is Takacsy's CSS Styling file*/

/*This create a nice black border around all table*/
table, th, td {
    border: 1px solid black;
}


nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
	display: block;
    width: 1300px;
    background-color: #dddddd;
}

#div1 {
    width: 350px;
    height: 70px;
    padding: 10px;
    border: 1px solid #aaaaaa;
	background-color: #dddddd;
}


