/*This is Takacsy's CSS Styling file*/

/*This create a nice black border around all table*/
table, th, td {
    border: 1px solid black;
}

/*This gives the nav bar a little bit more colour and style*/
nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
	display: block;
    width: 1300px;
    background-color: #dddddd;
}


 
.HPHovering { 
    padding: 5px;
    display: none;
    display: block;
}
    


ul li:hover {background: #555;}
ul li:hover ul {display: block;}
ul li ul {
  position: fixed;
  width: 200px;
  display: none;
}
